W6_Operations_Copilot/Workflows/W6-B — IAASSE Knowledge Copilot.json
{
  "name": "W6-B — IAASSE Knowledge Copilot",
  "nodes": [
    {
      "parameters": {
        "content": "## W6-B: IAASSE Knowledge Copilot\n\nLive AI chat for IAASSE staff. Ask anything about RIPCE workflows, troubleshooting, credentials, SOPs.\n\n✅ Credential: Anthropic account (already assigned)\n\nShare the Chat URL from workflow Settings with IAASSE staff.",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "ab136fe7-0f28-4c00-8d1d-5d5a90c70a77",
      "name": "Sticky Note b3c99c8f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -48
      ]
    },
    {
      "parameters": {
        "options": {
          "responseMode": "streaming"
        }
      },
      "id": "5ca809f6-6583-45ca-8f34-1ef9dda6f616",
      "name": "IAASSE Copilot Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        112
      ],
      "webhookId": "8835b473-d1a3-408b-89e5-1d18a7a50b3f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "f7210452-f2ca-4892-a101-996d45de2bd1",
      "name": "IAASSE Knowledge Copilot",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        112
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "33ecd9ae-1ba5-4d72-a1ab-72fbe65428b5",
      "name": "Copilot Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        336
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1c500c2a-85f0-44a6-98cd-7f0670711eec",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        336
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "BbrTeN4fh7PKJvWM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IAASSE Copilot Chat": {
      "main": [
        [
          {
            "node": "IAASSE Knowledge Copilot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copilot Memory": {
      "ai_memory": [
        [
          {
            "node": "IAASSE Knowledge Copilot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "IAASSE Knowledge Copilot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "24129b92-5d8a-4363-ae00-e0cd03a51bd0",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "ce65a335bd8859cda6a7d12f6c83efa81348cabcee78edbf772773d50c588ea9"
  },
  "nodeGroups": [],
  "id": "KkLcRXLhoZ1Svy28",
  "tags": []
}