W5_Outreach_Optimization/Workflows/IAASSE Weekly Research Digest.json
{
  "name": "IAASSE Weekly Research Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "06e0c901-242b-4ced-a207-6d8de37b651c",
      "name": "Every Monday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are the IAASSE (International Association for Advancement of Science and Social Empowerment) weekly newsletter assistant. Write a short engaging weekly research digest email for our members. Include: 1) A motivational quote for researchers, 2) One actionable research tip for this week, 3) A reminder about the importance of interdisciplinary research, 4) A brief call-to-action to submit conference papers. Keep it under 200 words, warm and professional tone. Output only the email body text, no subject line."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 500,
          "temperature": 0.8
        }
      },
      "id": "c424b537-d809-4eab-8ac2-f67b6c7c788e",
      "name": "Generate Weekly Digest",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        544,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "BbrTeN4fh7PKJvWM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pantawaneraunak@gmail.com",
        "subject": "=IAASSE Weekly Research Digest - {{ $now.toFormat(\"MMMM d, yyyy\") }}",
        "message": "=<p>{{ $json.text }}</p>",
        "options": {
          "appendAttribution": false,
          "senderName": "IAASSE Newsletter"
        }
      },
      "id": "e85de112-e0e6-47d6-bff1-f7f183cb58ae",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        304
      ],
      "webhookId": "8c32a4c6-c053-4d90-9d6c-976d8fd2a5ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "GbKLfiEkgHWhOhy3",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Monday 9AM": {
      "main": [
        [
          {
            "node": "Generate Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weekly Digest": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "fa0341e8-9cd1-4fb7-94df-5b77e0b80cd6",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "ce65a335bd8859cda6a7d12f6c83efa81348cabcee78edbf772773d50c588ea9"
  },
  "nodeGroups": [],
  "id": "ec4vyvO6l6lA6jzH",
  "tags": []
}